{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% include 'partials/_menu.html' %}
    {% include 'partials/_busca.html' %}
    <!-- ##### Best Receipe Area Start ##### -->
    <section class="best-receipe-area">
        <div class="container">
            {% if receitas %}
                <div class="row">
                    {% for receita in receitas %}
                        <!-- Single Best Receipe Area -->
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="single-best-receipe-area mb-30">
                                {% if receita.foto_receita == null %}
                                    <img src="{% static 'img/bg-img/foto_receita.png' %}" alt="">
                                {% else %}
                                    <img src="{{ receita.foto_receita.url }}" alt="" class="mh-100">
                                {% endif %}
                                <div class="receipe-content">
                                    <a href="{% url 'receita' receita.id %}">
                                        <h5>{{ receita.nome_receita }}</h5>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <h1 class="text-center display-4">Nenhuma receita encontrada</h1>
            {% endif %}
        </div>
    </section>
    <!-- ##### Best Receipe Area End ##### -->

    {% include 'partials/_footer.html' %}
{% endblock %}

    
